html {
    background-color: black;
}

h1 {
    padding-top: 40vh;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    color: white;
    text-shadow: -0.03em -0.03em steelblue, 0.03em 0.03em red;
}